<kendo-grid [data]="clientTransactions">

    <kendo-grid-column field="date" title="Date" width="100"></kendo-grid-column>
    <kendo-grid-column field="orderId" title="Order Number" width="100"></kendo-grid-column>
    <kendo-grid-column field="payReceive" title="Pay/Receive" width="75"></kendo-grid-column>
    <kendo-grid-column field="tokenId" title="Token" width="75"></kendo-grid-column>
    <kendo-grid-column field="tokenAmount" title="Amount" width="150"></kendo-grid-column>
    <kendo-grid-column field="address" title="Address" width="200"></kendo-grid-column>
    <kendo-grid-column field="transactionHash" title="Tx Hash" width="200"></kendo-grid-column>

</kendo-grid>