<h3> Intermediate Order Entry </h3>
<br />

<form class="form-inline form-group-sm" style="margin-left:10px">
    <div class="row" style="margin-top:5px; margin-bottom:5px">
        <div class="col-sm-2">
            <label style="font-size:medium">Order</label>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div name="BSButton" class="btn-group btn-group-sm">
                    <a class="btn btn-primary">Buy</a>
                    <a class="btn btn-danger">Sell</a>
                </div>
            </div>
            <div class="form-group">
                <button style="padding-left:2px; border-left:2px" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                    @AAPL/@GOOG
                    <span class="caret"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px; margin-bottom:5px">
        <div class="col-sm-2">
            <label style="font-size:medium">Amount</label>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <input class="form-control" style="width:15em; padding-right:0px;" type="text" name="amount" tabindex="1" placeholder="Amount" autocomplete="off" value="" />
            </div>
        </div>
        <div class="col-sm-1">
            <label style="font-size:medium">Start</label>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input class="form-control" style="width:15em" type="text" placeholder="Now" autocomplete="off" value="" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px; margin-bottom:5px">
        <div class="col-sm-2">
            <label style="font-size:medium">Order Type</label>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <input class="form-control" style="width:15em" type="text" name="amount" tabindex="1" placeholder="Price" autocomplete="off" value="" />
                <button class="btn btn-sm">@AAPL</button>
            </div>
            <div class="form-group">
                <div style="margin-left:10px" class="btn-group btn-group-sm">
                    <a class="btn btn-primary">Market</a>
                    <a class="btn btn-danger">Limit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <label style="font-size:medium">Expires</label>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input class="form-control" style="width:15em" type="text" placeholder="Expiration" autocomplete="off" value="" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px; margin-bottom:5px">
        <div class="col-sm-2">
            <label style="font-size:medium">Total</label>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <input class="form-control" style="width:15em" type="text" name="total" tabindex="1" placeholder="Total" autocomplete="off" value="" />
                <button class="btn btn-sm">@AAPL</button>
            </div>
        </div>
    </div>
    <div class="row col-sm-offset-8">
        <button type="button" class="btn  btn-success">Buy @AAPL with @GOOG</button>
        <button type="button" class="btn ">Cancel</button>
    </div>
</form>


<div class="row" style="margin-top:30px">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-right:30px">
            <line-chart></line-chart>
        </div>
    </div>
</div>




