<ul class="nav nav-tabs" style="margin-left: 20px; margin-top:2em" role="tablist">
  <li class="nav-item"> <a class="active nav-link" href="#openDeposits" role="tab" data-toggle="tab">Pending Deposits</a></li>
</ul>

<div class="tab-content" id="openDepositTabContent">
  <div class="tab-pane fade show active" id="openDeposits" role="tabpanel" style="margin-left:20px; margin-right:5em">
    <custodian-deposit-pending></custodian-deposit-pending>
  </div>
</div>

<br />
<br />

<ul class="nav nav-tabs" style="margin-left:20px; margin-top:2em" role="tablist">
  <li class="nav-item"> <a class="active nav-link" href="#depositHistory" role="tab" data-toggle="tab">Deposit History</a></li>
</ul>

<div class="tab-content" id="depositHistoryTabContent">
  <div class="tab-pane fade show active" id="depositHistory" role="tabpanel" style="margin-left:20px; margin-right:5em">
    <custodian-deposit-history></custodian-deposit-history>
  </div>
</div>
