<form (ngSubmit)="submit()" #accountDepositForm="ngForm" style="margin-top:1%; margin-bottom:10px; margin-left:20px" novalidate>
  <div class="form-row" style="margin-top:5px; margin-bottom:1em">
    <div class="col-auto" style="margin-top:5px; margin-right:7px">
      <div class="form-group row">
        <div class="input-group">

          <input class="form-control"
                 [(ngModel)]="depositRequest.amount" select style="text-align:right; width:15em; margin-left:5px; margin-right:5px" type="number" name="DepositAmount" placeholder="Amount" autocomplete="off" value="0" required />

          <select [(ngModel)]="depositRequest.assetId" name="DepositAsset" class="form-control" style="width:100px">

            <option>AAPL</option>
            <option>BT</option>
            <option>BTC</option>
            <option>CAT</option>
            <option>ETH</option>
            <option>GBP</option>
            <option>GOOG</option>
            <option>MSFT</option>
            <option>USD</option>
            <option>GBP</option>
          </select>

          <input class="form-control" type="text" readonly style="width:300px; margin-left:5px; margin-right:5px" placeholder="Reference Code" value="{{depositRequest.referenceId}}" />

          <div class="btn-group">
            <button type="submit" class="form-control button-selected">Deposit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-control" style="width:600px">
    <h4>Custodial Account</h4>
    <p>
      Kingdom Trust<br />
      1105 State Route 121 N., Suite B <br />
      Murray, KY 42071
    </p>
  </div>
</form>
