<div class="row" style="margin-left:5%; margin-top:2%; margin-bottom:10px">
    <form class="form-inline form-group-sm" style="margin-left:10px">
        <div class="row" style="margin-top:5px; margin-bottom:5px">
            <div class="col-sm-2">
                <label style="font-size:medium">Order</label>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <div name="BSButton" class="btn-group btn-group-sm">
                        <a class="btn button-selected">Buy</a>
                        <a class="btn button-not-selected">Sell</a>
                    </div>
                </div>
                <div class="form-group">
                    <button style="margin-left:5px; padding-left:5px; border-left:2px" type="button" class="btn btn-sm token-label" data-toggle="dropdown">
                        @AAPL with @GOOG
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px; margin-bottom:5px">
            <div class="col-sm-2">
                <label style="font-size:medium">Amount</label>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input class="form-control" style="width:15em; padding-right:0px;" type="text" name="amount" tabindex="1" placeholder="Amount" autocomplete="off" value="" />
                    <button class="btn btn-sm token-label">@AAPL</button>
                </div>
            </div>
            <div class="col-sm-1">
                <label style="font-size:medium">Start</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" style="width:15em" type="text" placeholder="Now" autocomplete="off" value="" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px; margin-bottom:5px">
            <div class="col-sm-2">
                <label style="font-size:medium">Order Type</label>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input class="form-control" style="width:15em" type="text" name="amount" tabindex="1" placeholder="Price" autocomplete="off" value="" />
                    <button class="btn btn-sm token-label">@GOOG For @AAPL</button>
                </div>
                <div class="form-group">
                    <div style="margin-left:10px" class="btn-group btn-group-sm">
                        <a class="btn button-selected">Market</a>
                        <a class="btn button-not-selected">Limit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <label style="font-size:medium">Expires</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" style="width:15em" type="text" placeholder="Expiration" autocomplete="off" value="" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px; margin-bottom:5px">
            <div class="col-sm-2">
                <label style="font-size:medium">Total</label>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input class="form-control" style="width:15em" type="text" name="total" tabindex="1" placeholder="Total" autocomplete="off" value="" />
                    <button class="btn btn-sm token-label">@GOOG</button>
                </div>
            </div>
        </div>
        <div class="row col-sm-offset-8">
            <button type="button" class="btn  button-selected">Buy @AAPL with @GOOG</button>
            <button type="button" class="btn  btn-danger">Cancel</button>
        </div>
    </form>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li><a class="active" href="#charts2" data-toggle="tab">Charts</a></li>
        <li><a href="#portfolio2" data-toggle="tab">Portfolio</a></li>
        <li><a href="#orders2" data-toggle="tab">Orders</a></li>
        <li><a href="#orderbook2" data-toggle="tab">Order Book</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="charts2" style="margin-right:5em">
            <line-chart style="margin-top:20px"></line-chart>
        </div>
        <div class="tab-pane fade in" id="portfolio2" style="margin-right:5em">
            <portfolio></portfolio>
        </div>
        <div class="tab-pane fade in" id="orders2" style="margin-right:5em">
            <orders></orders>
        </div>
        <div class="tab-pane fade in" id="orderbook2" style="margin-right:5em">
            <order-book></order-book>
        </div>
    </div>
</div>




