
<form style="margin-top:1%; margin-bottom:10px; margin-left:5px" novalidate>
    <div class="form-row" style="margin-top:5px; margin-bottom:3em">
        <div class="col-auto" style="margin-top:5px">
            <div class="input-group">
                <div class="btn-group">
                    <button name="Token1Buy" type="button" class="btn button-selected">Buy</button>
                    <button name="Token1Sell" type="button" class="btn button-not-selected">Sell</button>
                </div>
                <input class="form-control" style="width:15em; margin-left:5px; margin-right:5px" type="text" name="Token1Amount" tabindex="1" placeholder="Amount" autocomplete="off" value="" />
                <button style="width:7em" class="btn token-label">
                    @AAPL
                </button>
                <span style="font-size:large">&nbsp; X &nbsp;</span>
            </div>
        </div>
        <div class="col-auto" style="margin-top:5px">
            <div class="row">
                <div class="col-2">
                    <label>Expiration</label>

                </div>
                <div class="col-auto">
                    <input type="date" class="form-control" style="width:auto" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-auto">
            <button type="button" class="btn button-selected">Buy @AAPL with @GOOG</button>
            <button type="button" class="btn btn-danger ">Cancel</button>
        </div>
    </div>

</form>



<ul style="margin-top:5em" class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#charts-s" data-toggle="tab">Charts</a></li>
    <li class="nav-item"><a class="nav-link" href="#portfolio-s" data-toggle="tab">Portfolio</a></li>
    <li class="nav-item"><a class="nav-link" href="#orders-s" data-toggle="tab">Orders</a></li>
    <li class="nav-item"><a class="nav-link" href="#orderbook-s" data-toggle="tab">Order Book</a></li>

</ul>
<div class="tab-content">
    <div class="tab-pane fade active show" id="charts-s" style="margin-right:5em">
        <line-chart style="margin-top:10px"></line-chart>
    </div>
    <div class="tab-pane fade" id="portfolio-s" style="margin-right:5em">
        <portfolio></portfolio>
    </div>
    <div class="tab-pane fade" id="orders-s" style="margin-right:5em">
        <orders></orders>
    </div>
    <div class="tab-pane fade" id="orderbook-s" style="margin-right:5em">
        <order-book></order-book>
    </div>
</div>





