
<form class="form-inline">
  <div class="form-group row" style="margin-left:5px; margin-top:2em; margin-bottom:5px">
    <div class="col-auto">

      <div class="input-group">

        <label class="col-form-label" for="AssetPairSelect" style="font-size:large; margin-right:10px">Token Pair</label>
        <select (change)="assetPairChange($event.target.value)" [(ngModel)]="selectedAssetPair" name="AssetPairSelect" class="form-control">
          <option>@AAPL - @GOOG</option>
          <option>@AAPL - @MSFT</option>
          <option>@AAPL - @USD</option>
          <option>@AAPL - @BNP</option>
          <option>@BTC  - @GOLD</option>
          <option>@BTC  - @ETH</option>
          <option>@BTC  - @USD</option>
          <option>@GOLD - @USD</option>
          <option>@MSFT - @BTC</option>
        </select>
      </div>
    </div>

    <div class="col-auto">
      <div class="input-group">

        <kendo-combobox style="font-size:medium" name="token1Id"
                        spellcheck="false"
                        [data]="data"
                        (valueChange)="valueChange($event)"
                        (selectionChange)="selectionChange($event)"
                        [(ngModel)]="Token1Id">
        </kendo-combobox>
      </div>
    </div>


    <div class="col-auto">
      <div class="input-group">

        <kendo-combobox style="font-size:medium" name="token2Id" spellcheck="false"
                        [data]="data2"
                        (valueChange)="valueChange2($event)"
                        (selectionChange)="selectionChange2($event)"
                        [(ngModel)]="Token2Id">
        </kendo-combobox>
      </div>
    </div>


    <div class="col-auto">
      <div class="input-group">
        <input readonly [(ngModel)]="TokenExchangeBid" class="form-control" style="width:15em; margin-left:5px; margin-right:5px" type="number" name="Token1Bid" placeholder="Bid Rate" autocomplete="off" value="" />
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group">
        <input readonly [(ngModel)]="TokenExchangeAsk" class="form-control" style="width:15em; margin-left:5px; margin-right:5px" type="number" name="Token1Ask" placeholder="Ask Rate" autocomplete="off" value="" />
      </div>
    </div>
  </div>
</form>

<!--<h4>Change log:</h4>
<ul>
    <li *ngFor="let change of events">{{change}}</li>
</ul>-->

<div style="margin-left:20px">
  <ngb-tabset>
    <ngb-tab title="Quick Trade">
      <ng-template ngbTabContent>
        <quick-trading [selectedAssetPair]="selectedAssetPair" [TokenExchangeBid]="TokenExchangeBid" [TokenExchangeAsk]="TokenExchangeAsk"></quick-trading>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Standard">
      <ng-template ngbTabContent>
        <standard-trading [selectedAssetPair]="selectedAssetPair" [TokenExchangeBid]="TokenExchangeBid" [TokenExchangeAsk]="TokenExchangeAsk"></standard-trading>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Advanced">
      <ng-template ngbTabContent>
        <advanced-trading [selectedAssetPair]="selectedAssetPair" [TokenPairRate]="tokenPairRate"></advanced-trading>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
