
<form class="form-inline">
  <div class="form-group row" style="margin-left:5px; margin-top:2em; margin-bottom:5px">
    <div class="col-auto">
      <div class="input-group">
        <label class="col-form-label" for="AssetPairSelect" style="font-size:large; margin-right:10px">Token Pair</label>
        <select (change)="assetPairChange($event.target.value)" [(ngModel)]="selectedAssetPair" name="AssetPairSelect" class="form-control">
          <option>@AAPL - @GOOG</option>
          <option>@AAPL - @MSFT</option>
          <option>@AAPL - @GOLD</option>
          <option>@MSFT - @BTC</option>
          <option>@AAPL - @BTC</option>
          <option>@AAPL - @USD</option>
          <option>@AAPL - @BNP</option>
        </select>
      </div>
    </div>

    <!--<div class="col-auto" style="width:200px; padding-left:0px; padding-right:0px">
      <div class="input-group">
        <kendo-combobox style="font-size:medium" name="token1Id"
                        [data]="data"
                        (valueChange)="valueChange($event)"
                        (selectionChange)="selectionChange($event)"
                        [(ngModel)]="Token1Id">
        </kendo-combobox>
      </div>
    </div>


    <div class="col-auto" style="width:200px; padding-left:10px">
      <div class="input-group">
        <kendo-combobox style="font-size:medium" name="token2Id"
                        [data]="data"
                        (valueChange2)="valueChange($event)"
                        (selectionChange2)="selectionChange($event)"
                        [(ngModel)]="Token2Id">
        </kendo-combobox>
      </div>
    </div>-->

    <div class="col-auto">
      <div class="input-group">
        <input readonly [(ngModel)]="TokenExchangeBid" class="form-control" style="width:15em; margin-left:5px; margin-right:5px" type="number" name="Token1Bid" placeholder="Bid Rate" autocomplete="off" value="" />
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group">
        <input readonly [(ngModel)]="TokenExchangeAsk" class="form-control" style="width:15em; margin-left:5px; margin-right:5px" type="number" name="Token1Ask" placeholder="Ask Rate" autocomplete="off" value="" />
      </div>
    </div>
  </div>
</form>

<div style="margin-left:20px">
  <ngb-tabset>
    <ngb-tab title="Quick Trade">
      <ng-template ngbTabContent>
        <quick-trading [selectedAssetPair]="selectedAssetPair" [TokenExchangeBid]="TokenExchangeBid" [TokenExchangeAsk]="TokenExchangeAsk"></quick-trading>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Standard">
      <ng-template ngbTabContent>
        <standard-trading [selectedAssetPair]="selectedAssetPair" [TokenExchangeBid]="TokenExchangeBid" [TokenExchangeAsk]="TokenExchangeAsk"></standard-trading>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Advanced">
      <ng-template ngbTabContent>
        <advanced-trading [selectedAssetPair]="selectedAssetPair" [TokenExchangeBid]="TokenExchangeBid" [TokenExchangeAsk]="TokenExchangeAsk" [IsCrossCurrency]="IsCrossCurrency" [Token1PriceCurrency]="Token1PriceCurrency" [Token2PriceCurrency]="Token2PriceCurrency"></advanced-trading>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
