<h1>Blockchain</h1>

<kendo-grid>
    <kendo-grid-column field="dateFormatted" title="Date"></kendo-grid-column>
    <kendo-grid-column field="transactionId" title="Trade Number" width="150"></kendo-grid-column>
    <kendo-grid-column field="tradePayReceive" title="Pay/Receive" width="150"></kendo-grid-column>
    <kendo-grid-column field="tradeTokenId" title="Token" width="150"></kendo-grid-column>
    <kendo-grid-column field="tradeTokenAmount" title="TokenAmount" width="150"></kendo-grid-column>
    <kendo-grid-column field="tradeTokenValue" title="TokenValue" width="150"></kendo-grid-column>
    <kendo-grid-column field="blockchainAddress" title="Address" width="150"></kendo-grid-column>
    <kendo-grid-column field="blockchainBlockNumber" title="Block" width="150"></kendo-grid-column>
</kendo-grid>