<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="AbacasX.Rate.Services.RateManager" behaviorConfiguration="RateManagerBehaviors">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="netHttpBinding" contract="AbacasX.Rate.Contracts.IRateService">
        </endpoint>

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RateManagerBehaviors">
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--<serviceHostingEnvironment>
      <serviceActivations>
        <add service="AbacasX.Rate.Services.RateManager" relativeAddress="RateManagerService.svc" factory="AbacasX.Rate.CustomHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>-->
  </system.serviceModel>
</configuration>