<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"> <a href="#quick" data-toggle="tab">Quick Trade</a></li>
        <li><a href="#standard" data-toggle="tab">Standard</a></li>
        <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
    </ul>
    <div class="tab-content" id="tradeTabContent">
        <div class="tab-pane fade active in" id="quick" style="margin-right:5em">
            <quick-trading></quick-trading>
        </div>
        <div class="tab-pane fade in" id="standard" style="margin-right:5em">
            <standard-trading></standard-trading>
        </div>
        <div class="tab-pane fade in" id="advanced" style="margin-right:5em">
            <advanced-trading></advanced-trading>
        </div>
    </div>
</div>