<kendo-grid [data]="custodianDepositHistory">
  <kendo-grid-column field="AssetId" title="Symbol" width="150"></kendo-grid-column>
  <kendo-grid-column field="AssetName" title="Name" width="150"></kendo-grid-column>
  <kendo-grid-column field="AssetAmount" title="Amount" width="150" format="{0:n}"></kendo-grid-column>
  <kendo-grid-column field="ReferenceCode" title="Reference Code" width="150" format="{0:n6}"></kendo-grid-column>
  <kendo-grid-column field="ForAccountOf" title="For Account Of" width="150"></kendo-grid-column>
</kendo-grid>
