<kendo-grid [data]="custodianBalances">
  <kendo-grid-column field="AssetId" title="Symbol" width="150"></kendo-grid-column>
  <kendo-grid-column field="AssetName" title="Name" width="150"></kendo-grid-column>
  <kendo-grid-column field="AssetAmount" title="Amount" width="150" format="{0:n}"></kendo-grid-column>
  <kendo-grid-column field="AssetRate" title="Rate" width="150" format="{0:n6}"></kendo-grid-column>
  <kendo-grid-column field="AssetRateIn" title="Rate In" width="150"></kendo-grid-column>
  <kendo-grid-column field="AssetValue" title="Value" width="150" format="{0:n2}"></kendo-grid-column>
</kendo-grid>
