<kendo-grid>
    <kendo-grid-column field="orderId" title="Order ID" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderTokenPair" title="Token Pair" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderAmount" title="Amount" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderAmountOutstanding" title="Outstanding" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderType" title="Type" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderRate" title="Price" width="150"></kendo-grid-column>
    <kendo-grid-column field="orderStatus" title="Status" width="150"></kendo-grid-column>
</kendo-grid>