
<div class="row" style="margin-left:10px">
  <div class="col-5" style="border-right:solid 1px silver">
    <news></news>
  </div>

  <div class="col" style="padding-left:0px">
    <div class="row" style="height:350px; margin-bottom:5px; margin-left:5px">

      <div id="tradingview_chart" class="col" style="margin-right:10px; margin-top:5px">

        <tradingview-chart></tradingview-chart>

      </div>
    </div>

    <hr style="margin:0px; padding-left:0px" />

    <div class="row" style="height:350px; margin-bottom:5px; margin-left:5px">
      <div class="col" style="margin-right:10px; margin-top:5px">
        <tradingview-crypto></tradingview-crypto>
      </div>
    </div>

  </div>
</div>
