<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="margin-top:5px; background-color:white; width:1300px">
    <div class="container">
      <div class="row">
        <h2><span style="color:cornflowerblue">Abacas</span><span style="color:gold; font-size:larger">X</span><span style="color:darkseagreen">Change</span> // Community News</h2>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row">
      
        <tradingview-chart></tradingview-chart>

    </div>

  </div> <!-- /container -->

</main>


