<div *ngIf="validLogin == false">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-inline my-2 my-lg-0">
    <input name="username" [(ngModel)]="username" class="form-control ml-2" type="text" placeholder="User ID">
    <input  name="password" [(ngModel)]="password" class="form-control ml-2 mr-sm-2" type="password" placeholder="Password">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Log In</button>
  </form>
</div>

<div *ngIf="validLogin == true">
  <form #loginForm="ngForm" (ngSubmit)="logOut()" class="form-inline my-2 my-lg-0">
    <input readonly name="username" class="form-control ml-2 mr-sm-2" type="text" placeholder="UserName" value="{{username}}">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
  </form>
</div>
