<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="02:00:00"
                 sendTimeout="00:01:00">
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="AbacasX.Exchange.Services.OrderManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084" />
            <add baseAddress="net.tcp://localhost:8085"/>
          </baseAddresses>
        </host>

        <endpoint address="net.tcp://localhost:8085/OrderManager"
                  binding="netTcpBinding"
                  contract="AbacasX.Exchange.Contracts.IOrderService"
                  name="tcpOM" />

        <!--<endpoint address="http://localhost/OrderManager" binding="basicHttpBinding" contract="AbacasX.Exchange.Contracts.IOrderService" />-->

        <endpoint address="MEX"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>