<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    
    <!--<behaviors>  
      <serviceBehaviors>  
        <behavior name="OrderManagerServiceBehavior">  
          <serviceMetadata httpGetEnabled="True"/>  
        </behavior>  
      </serviceBehaviors>  
    </behaviors>-->  

    <!--<services>
      <service name="AbacasX.Exchange.Services.OrderManager"
               behaviorConfiguration="OrderManagerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084" />
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="netHttpBinding" contract="AbacasX.Exchange.Contracts.IOrderService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>-->


    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding_IRateService">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="ws://abacaswebxrate20190515102616.azurewebsites.net/RateManagerService.svc"
        binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IRateService"
        contract="RateService.IRateService" name="NetHttpBinding_IRateService" />
    </client>
  </system.serviceModel>
</configuration>