<kendo-grid [data]="clientPositions">
    <kendo-grid-column field="tokenId" title="Token ID" width="150"></kendo-grid-column>
    <kendo-grid-column field="tokenAmount" title="Amount" width="150" format="{0:n}"></kendo-grid-column>

    <kendo-grid-column field="tokenRate" title="Rate" width="150" format="{0:n6}"></kendo-grid-column>
    <kendo-grid-column field="tokenRateIn" title="Rate In" width="150"></kendo-grid-column>

    <kendo-grid-column field="tokenValue" title="Value" width="150" format="{0:n2}"></kendo-grid-column>
</kendo-grid>