<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>


  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="NetHttpBinding_IRateService">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="ws://localhost:62716/RateManagerService.svc"
        binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IRateService"
        contract="RateService.IRateService" name="NetHttpBinding_IRateService" />
    </client>
    <services>
      <service name="AbacasWebX.Exchange.Services.OrderManager" behaviorConfiguration="OrderManagerBehaviors">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58984" />
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="netHttpBinding"
                  contract="AbacasWebX.Exchange.Contracts.IOrderService">
        </endpoint>

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderManagerBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="AbacasWebX.Exchange.Services.OrderManager" relativeAddress="OrderManagerService.svc" factory="AbacasWebX.Exchange.CustomHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  

</configuration>
