<ul class="nav nav-tabs" style="margin-left: 20px; margin-top:2em" role="tablist">
    <li class="nav-item"> <a class="active nav-link" href="#openOrders" role="tab" data-toggle="tab">Open Orders</a></li>
</ul>

<div class="tab-content" id="openOrderTabContent">
    <div class="tab-pane fade show active" id="openOrders" role="tabpanel" style="margin-left:20px; margin-right:5em">
        <open-orders></open-orders>
    </div>
</div>

<br />
<br />

<ul class="nav nav-tabs" style="margin-left:20px; margin-top:2em" role="tablist">
    <li class="nav-item"> <a class="active nav-link" href="#orderHistory" role="tab" data-toggle="tab">Order History</a></li>
</ul>

<div class="tab-content" id="orderHistoryTabContent">
    <div class="tab-pane fade show active" id="orderHistory" role="tabpanel" style="margin-left:20px; margin-right:5em">
        <order-history></order-history>
    </div>
</div>
